In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import pandas as pd
from pathlib import Path

%matplotlib inline

In [2]:
csvpathtech = Path("./technical_analysis_df.csv")
csvpathsent = Path("./sentiment_analysis_df.csv")

In [3]:
technical_analysis_df = pd.read_csv(csvpathtech)
technical_analysis_df.set_index('Date', inplace = True)
technical_analysis_df

,Open,High,Low,Adj Close,Volume,Percent Price Change Within Period,Scaled Volume,SMA(3),t+1
Date,,,,,,,,,
2022-03-01,869.679993,889.880005,853.780029,864.369995,24922300,-0.610569,1.006451,NaN,879.890015
2022-03-02,872.130005,886.479980,844.270020,879.890015,24881100,0.889777,1.004787,NaN,839.289978
2022-03-03,878.770020,886.440002,832.599976,839.289978,20541200,-4.492648,0.829527,NaN,838.289978
2022-03-04,849.099976,855.650024,825.159973,838.289978,22333200,-1.273112,0.901894,861.183329,804.580017
2022-03-07,856.299988,866.140015,804.570007,804.580017,24164700,-6.039936,0.975856,852.489990,824.400024
2022-03-08,795.530029,849.989990,782.169983,824.400024,26799700,3.629026,1.082267,827.386658,858.969971
2022-03-09,839.479980,860.559998,832.010010,858.969971,19728000,2.321674,0.796687,822.423340,838.299988
2022-03-10,851.450012,854.450012,810.359985,838.299988,19549500,-1.544427,0.789478,829.316671,795.349976
2022-03-11,840.200012,843.799988,793.770020,795.349976,22272800,-5.338019,0.899455,840.556661,766.369995
2022-03-14,780.609985,800.700012,756.039978,766.369995,23717400,-1.824213,0.957793,830.873311,801.890015
2022-03-15,775.270020,805.570007,756.570007,801.890015,22280400,3.433642,0.899762,800.006653,840.229980
2022-03-16,809.000000,842.000000,802.260010,840.229980,28009600,3.860319,1.131127,787.869995,871.599976
2022-03-17,830.989990,875.000000,825.719971,871.599976,22194300,4.886940,0.896285,802.829997,905.390015
2022-03-18,874.489990,907.849976,867.390015,905.390015,33408500,3.533491,1.349154,837.906657,921.159973
2022-03-21,914.979980,942.849976,907.090027,921.159973,27327200,0.675424,1.103569,872.406657,993.979980
2022-03-22,930.000000,997.859985,921.750000,993.979980,35289500,6.879568,1.425115,899.383321,999.109985
2022-03-23,979.940002,1040.699951,976.400024,999.109985,40225400,1.956240,1.624444,940.176656,1013.919983
2022-03-24,1009.729980,1024.489990,988.799988,1013.919983,22973600,0.414963,0.927756,971.416646,1010.640015
2022-03-25,1008.000000,1021.799988,997.320007,1010.640015,20677200,0.261906,0.835019,1002.336650,1091.839966
2022-03-28,1065.099976,1097.880005,1053.599976,1091.839966,34168700,2.510562,1.379853,1007.889994,1099.569946
2022-03-29,1107.989990,1114.770020,1073.109985,1099.569946,24538300,-0.759939,0.990944,1038.799988,1093.989990
2022-03-30,1091.170044,1113.949951,1084.000000,1093.989990,19955000,0.258433,0.805854,1067.349976,1077.599976
2022-03-31,1094.569946,1103.140015,1076.640015,1077.599976,16330900,-1.550378,0.659500,1095.133301,1084.589966
2022-04-01,1081.150024,1094.750000,1066.640015,1084.589966,18012900,0.318174,0.727425,1090.386637,NaN

In [4]:
sentiment_analysis_df = pd.read_csv(csvpathsent)
sentiment_analysis_df.set_index('Date', inplace = True)
sentiment_analysis_df

            compound  positive  negative  neutral
Date
2022-03-01    0.7964     0.224     0.000    0.776
2022-03-02    0.7039     0.324     0.151    3.525
2022-03-03    1.9527     0.595     0.075    5.328
2022-03-04    0.3236     0.094     0.040    2.866
2022-03-07   -0.5034     0.549     0.465    4.986
2022-03-08   -0.1807     0.160     0.154    1.686
2022-03-09    1.1932     0.308     0.000    1.692
2022-03-10    3.0842     1.207     0.345    8.448
2022-03-11   -1.1942     0.000     0.222    2.778
2022-03-12   -0.6705     0.000     0.200    0.800
2022-03-13   -0.4019     0.082     0.153    0.765
2022-03-14    2.6225     0.693     0.000    6.307
2022-03-15    1.1417     0.319     0.083    3.598
2022-03-17   -0.2131     0.172     0.205    1.623
2022-03-18    0.6705     0.133     0.000    1.867
2022-03-21    0.7650     0.197     0.000    2.803
2022-03-22    2.9323     0.706     0.035    3.259
2022-03-23    1.5368     0.442     0.154    3.403
2022-03-24    0.8534     0.188     0.000    1.812
2022-03-25    0.8227     0.145     0.000    2.855
2022-03-26   -0.1641     0.181     0.274    1.546
2022-03-27   -0.3680     0.070     0.144    1.787
2022-03-28    4.0180     1.129     0.192    8.679
2022-03-29    1.4526     0.359     0.055    3.586
2022-03-30    0.9200     0.273     0.042    3.685
2022-03-31    0.0732     0.180     0.146    2.674
2022-04-01    1.2474     0.498     0.200    3.303
2022-04-02    0.4767     0.088     0.000    0.912

In [5]:
combined_df = technical_analysis_df.merge(sentiment_analysis_df, how='inner', on='Date')

In [6]:
combined_df

,Open,High,Low,Adj Close,Volume,Percent Price Change Within Period,Scaled Volume,SMA(3),t+1,compound,positive,negative,neutral
Date,,,,,,,,,,,,,
2022-03-01,869.679993,889.880005,853.780029,864.369995,24922300,-0.610569,1.006451,NaN,879.890015,0.7964,0.224,0.000,0.776
2022-03-02,872.130005,886.479980,844.270020,879.890015,24881100,0.889777,1.004787,NaN,839.289978,0.7039,0.324,0.151,3.525
2022-03-03,878.770020,886.440002,832.599976,839.289978,20541200,-4.492648,0.829527,NaN,838.289978,1.9527,0.595,0.075,5.328
2022-03-04,849.099976,855.650024,825.159973,838.289978,22333200,-1.273112,0.901894,861.183329,804.580017,0.3236,0.094,0.040,2.866
2022-03-07,856.299988,866.140015,804.570007,804.580017,24164700,-6.039936,0.975856,852.489990,824.400024,-0.5034,0.549,0.465,4.986
2022-03-08,795.530029,849.989990,782.169983,824.400024,26799700,3.629026,1.082267,827.386658,858.969971,-0.1807,0.160,0.154,1.686
2022-03-09,839.479980,860.559998,832.010010,858.969971,19728000,2.321674,0.796687,822.423340,838.299988,1.1932,0.308,0.000,1.692
2022-03-10,851.450012,854.450012,810.359985,838.299988,19549500,-1.544427,0.789478,829.316671,795.349976,3.0842,1.207,0.345,8.448
2022-03-11,840.200012,843.799988,793.770020,795.349976,22272800,-5.338019,0.899455,840.556661,766.369995,-1.1942,0.000,0.222,2.778
2022-03-14,780.609985,800.700012,756.039978,766.369995,23717400,-1.824213,0.957793,830.873311,801.890015,2.6225,0.693,0.000,6.307
2022-03-15,775.270020,805.570007,756.570007,801.890015,22280400,3.433642,0.899762,800.006653,840.229980,1.1417,0.319,0.083,3.598
2022-03-17,830.989990,875.000000,825.719971,871.599976,22194300,4.886940,0.896285,802.829997,905.390015,-0.2131,0.172,0.205,1.623
2022-03-18,874.489990,907.849976,867.390015,905.390015,33408500,3.533491,1.349154,837.906657,921.159973,0.6705,0.133,0.000,1.867
2022-03-21,914.979980,942.849976,907.090027,921.159973,27327200,0.675424,1.103569,872.406657,993.979980,0.7650,0.197,0.000,2.803
2022-03-22,930.000000,997.859985,921.750000,993.979980,35289500,6.879568,1.425115,899.383321,999.109985,2.9323,0.706,0.035,3.259
2022-03-23,979.940002,1040.699951,976.400024,999.109985,40225400,1.956240,1.624444,940.176656,1013.919983,1.5368,0.442,0.154,3.403
2022-03-24,1009.729980,1024.489990,988.799988,1013.919983,22973600,0.414963,0.927756,971.416646,1010.640015,0.8534,0.188,0.000,1.812
2022-03-25,1008.000000,1021.799988,997.320007,1010.640015,20677200,0.261906,0.835019,1002.336650,1091.839966,0.8227,0.145,0.000,2.855
2022-03-28,1065.099976,1097.880005,1053.599976,1091.839966,34168700,2.510562,1.379853,1007.889994,1099.569946,4.0180,1.129,0.192,8.679
2022-03-29,1107.989990,1114.770020,1073.109985,1099.569946,24538300,-0.759939,0.990944,1038.799988,1093.989990,1.4526,0.359,0.055,3.586
2022-03-30,1091.170044,1113.949951,1084.000000,1093.989990,19955000,0.258433,0.805854,1067.349976,1077.599976,0.9200,0.273,0.042,3.685
2022-03-31,1094.569946,1103.140015,1076.640015,1077.599976,16330900,-1.550378,0.659500,1095.133301,1084.589966,0.0732,0.180,0.146,2.674
2022-04-01,1081.150024,1094.750000,1066.640015,1084.589966,18012900,0.318174,0.727425,1090.386637,NaN,1.2474,0.498,0.200,3.303

In [7]:
# Set the random seed for reproducibility
# Note: This is used for model prototyping, but it is good practice to comment this out and run multiple experiments to evaluate your model.
from numpy.random import seed

seed(1)
from tensorflow import random

random.set_seed(2)

In [8]:
def window_data(df, window, feature_col_number, target_col_number):
    """
    This function accepts the column number for the features (X) and the target (y).
    It chunks the data up with a rolling window of Xt - window to predict Xt.
    It returns two numpy arrays of X and y.
    """
    X = []
    y = []
    for i in range(len(df) - window):
        features = df.iloc[i : (i + window), feature_col_number]
        target = df.iloc[(i + window), target_col_number]
        X.append(features)
        y.append(target)
    return np.array(X), np.array(y).reshape(-1, 1)

In [ ]:
# Creating the features (X) and target (y) data using the window_data() function.
window_size = 1

feature_column = 2
target_column = 2
X, y = window_data(df, window_size, feature_column, target_column)
print (f"X sample values:\n{X[:5]} \n")
print (f"y sample values:\n{y[:5]}")