In [1]:
import json
import csv
import re
from datetime import date,datetime,timedelta
from pathlib import Path
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import numpy as np
import yfinance as yf

In [2]:
def stock_data(ticker):
    start_date = '2022-03-01'
    end_date = date.today()+timedelta(days=1)
    # 1. Request data:
    data = yf.download(ticker, 
                      start=start_date, 
                      end=end_date,
                      interval='1d', 
                      progress=False)
    # 2. Feature Engineering:
    data['Percent Price Change Within Period'] = ((data['Close'] - data['Open'])/data['Open'])*100
    # data['Change in Close Price'] = data['Close'] - data['Close'].shift(1)
    # data['Scaled Delta Close'] = data['Change in Close Price']/(data['Close'].mean())
    data['Scaled Volume'] = data['Volume']/data['Volume'].mean()
    data_SMA = data['Adj Close'].rolling(window=3).mean().shift(1)
    data['SMA(3)'] = data_SMA
    data['t+1'] = data['Adj Close'].shift(-1)
    data.reset_index(inplace=True)
    #data['Datetime']=data['Datetime'].dt.tz_convert('America/Montreal').dt.tz_localize(None)
    data.drop(['Close'],axis=1,inplace=True)
    #3. Export data:
    #f_name = ticker + "_data"
    # data.to_csv('~/LighthouseLabs-Final/Dataset/1. Stock_Data/' + f_name + ".csv")
    # print('Data saved!')
    return data

In [3]:
technical_analysis_df = pd.DataFrame(stock_data('TSLA'))
technical_analysis_df

,Date,Open,High,Low,Adj Close,Volume,Percent Price Change Within Period,Scaled Volume,SMA(3),t+1
0,2022-03-01,869.679993,889.880005,853.780029,864.369995,24922300,-0.610569,1.006451,NaN,879.890015
1,2022-03-02,872.130005,886.479980,844.270020,879.890015,24881100,0.889777,1.004787,NaN,839.289978
2,2022-03-03,878.770020,886.440002,832.599976,839.289978,20541200,-4.492648,0.829527,NaN,838.289978
3,2022-03-04,849.099976,855.650024,825.159973,838.289978,22333200,-1.273112,0.901894,861.183329,804.580017
4,2022-03-07,856.299988,866.140015,804.570007,804.580017,24164700,-6.039936,0.975856,852.489990,824.400024
5,2022-03-08,795.530029,849.989990,782.169983,824.400024,26799700,3.629026,1.082267,827.386658,858.969971
6,2022-03-09,839.479980,860.559998,832.010010,858.969971,19728000,2.321674,0.796687,822.423340,838.299988
7,2022-03-10,851.450012,854.450012,810.359985,838.299988,19549500,-1.544427,0.789478,829.316671,795.349976
8,2022-03-11,840.200012,843.799988,793.770020,795.349976,22272800,-5.338019,0.899455,840.556661,766.369995
9,2022-03-14,780.609985,800.700012,756.039978,766.369995,23717400,-1.824213,0.957793,830.873311,801.890015
10,2022-03-15,775.270020,805.570007,756.570007,801.890015,22280400,3.433642,0.899762,800.006653,840.229980
11,2022-03-16,809.000000,842.000000,802.260010,840.229980,28009600,3.860319,1.131127,787.869995,871.599976
12,2022-03-17,830.989990,875.000000,825.719971,871.599976,22194300,4.886940,0.896285,802.829997,905.390015
13,2022-03-18,874.489990,907.849976,867.390015,905.390015,33408500,3.533491,1.349154,837.906657,921.159973
14,2022-03-21,914.979980,942.849976,907.090027,921.159973,27327200,0.675424,1.103569,872.406657,993.979980
15,2022-03-22,930.000000,997.859985,921.750000,993.979980,35289500,6.879568,1.425115,899.383321,999.109985
16,2022-03-23,979.940002,1040.699951,976.400024,999.109985,40225400,1.956240,1.624444,940.176656,1013.919983
17,2022-03-24,1009.729980,1024.489990,988.799988,1013.919983,22973600,0.414963,0.927756,971.416646,1010.640015
18,2022-03-25,1008.000000,1021.799988,997.320007,1010.640015,20677200,0.261906,0.835019,1002.336650,1091.839966
19,2022-03-28,1065.099976,1097.880005,1053.599976,1091.839966,34168700,2.510562,1.379853,1007.889994,1099.569946
20,2022-03-29,1107.989990,1114.770020,1073.109985,1099.569946,24538300,-0.759939,0.990944,1038.799988,1093.989990
21,2022-03-30,1091.170044,1113.949951,1084.000000,1093.989990,19955000,0.258433,0.805854,1067.349976,1077.599976
22,2022-03-31,1094.569946,1103.140015,1076.640015,1077.599976,16330900,-1.550378,0.659500,1095.133301,1084.589966
23,2022-04-01,1081.150024,1094.750000,1066.640015,1084.589966,18012900,0.318174,0.727425,1090.386637,NaN

In [4]:
technical_analysis_df.set_index('Date', inplace = True)

In [5]:
technical_analysis_df

,Open,High,Low,Adj Close,Volume,Percent Price Change Within Period,Scaled Volume,SMA(3),t+1
Date,,,,,,,,,
2022-03-01,869.679993,889.880005,853.780029,864.369995,24922300,-0.610569,1.006451,NaN,879.890015
2022-03-02,872.130005,886.479980,844.270020,879.890015,24881100,0.889777,1.004787,NaN,839.289978
2022-03-03,878.770020,886.440002,832.599976,839.289978,20541200,-4.492648,0.829527,NaN,838.289978
2022-03-04,849.099976,855.650024,825.159973,838.289978,22333200,-1.273112,0.901894,861.183329,804.580017
2022-03-07,856.299988,866.140015,804.570007,804.580017,24164700,-6.039936,0.975856,852.489990,824.400024
2022-03-08,795.530029,849.989990,782.169983,824.400024,26799700,3.629026,1.082267,827.386658,858.969971
2022-03-09,839.479980,860.559998,832.010010,858.969971,19728000,2.321674,0.796687,822.423340,838.299988
2022-03-10,851.450012,854.450012,810.359985,838.299988,19549500,-1.544427,0.789478,829.316671,795.349976
2022-03-11,840.200012,843.799988,793.770020,795.349976,22272800,-5.338019,0.899455,840.556661,766.369995
2022-03-14,780.609985,800.700012,756.039978,766.369995,23717400,-1.824213,0.957793,830.873311,801.890015
2022-03-15,775.270020,805.570007,756.570007,801.890015,22280400,3.433642,0.899762,800.006653,840.229980
2022-03-16,809.000000,842.000000,802.260010,840.229980,28009600,3.860319,1.131127,787.869995,871.599976
2022-03-17,830.989990,875.000000,825.719971,871.599976,22194300,4.886940,0.896285,802.829997,905.390015
2022-03-18,874.489990,907.849976,867.390015,905.390015,33408500,3.533491,1.349154,837.906657,921.159973
2022-03-21,914.979980,942.849976,907.090027,921.159973,27327200,0.675424,1.103569,872.406657,993.979980
2022-03-22,930.000000,997.859985,921.750000,993.979980,35289500,6.879568,1.425115,899.383321,999.109985
2022-03-23,979.940002,1040.699951,976.400024,999.109985,40225400,1.956240,1.624444,940.176656,1013.919983
2022-03-24,1009.729980,1024.489990,988.799988,1013.919983,22973600,0.414963,0.927756,971.416646,1010.640015
2022-03-25,1008.000000,1021.799988,997.320007,1010.640015,20677200,0.261906,0.835019,1002.336650,1091.839966
2022-03-28,1065.099976,1097.880005,1053.599976,1091.839966,34168700,2.510562,1.379853,1007.889994,1099.569946
2022-03-29,1107.989990,1114.770020,1073.109985,1099.569946,24538300,-0.759939,0.990944,1038.799988,1093.989990
2022-03-30,1091.170044,1113.949951,1084.000000,1093.989990,19955000,0.258433,0.805854,1067.349976,1077.599976
2022-03-31,1094.569946,1103.140015,1076.640015,1077.599976,16330900,-1.550378,0.659500,1095.133301,1084.589966
2022-04-01,1081.150024,1094.750000,1066.640015,1084.589966,18012900,0.318174,0.727425,1090.386637,NaN

In [6]:
csvpath = Path("./technical_analysis_df.csv")
technical_analysis_df.to_csv(csvpath)